#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.h1-custom{
  color: bisque;
  background-color: black;
  border-radius: 8px;
  box-shadow: burlywood;
  font-style: italic;
  display: flex;
  padding: auto;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
